
#calculator {
    width: 300px;
    padding: 10px;
    height: 470px;
    float:left;
    border-radius: 10px;
    opacity: 0.8;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: black ;
    box-shadow: 0 10px #666;
}

#total {
    border: 1px solid black;
    height: 63px;
    padding: 5px;
    font-family: consolas;
    margin-bottom: 10px;
    font-size: 35px;
    color:white !important;
    background-color: #171717;
    overflow: scroll;
}

button {
    text-align: center;
    color: tomato;
    background-color: black;
    width: 98px;
    height: 55px;
    float: right;
    cursor: pointer;
    padding: 10px;
    /* border: 1px solid black; */
    font-size: 23pt !important;
}

button:hover :active{
    border: 1px tomato solid !important;
}
button:active {
    background-color:black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}
.clear {
    clear: both;
}
body{
    background-color: grey;
}
img{
    opacity: 0.6;
    width: 300px;
    border-radius: 10px;

}